<footer>
  <div class="container">

    <section class="links">
      <a href="https://github.com/macports/">Git Repository</a>
      <a href="https://trac.macports.org/wiki">MacPorts Wiki</a>
      <a href="https://trac.macports.org/wiki/MacPortsDevelopers">MacPorts Team</a>
    </section>
    <section>
      <div class="legal-copyright">
        {{ .Site.Copyright | markdownify }}
      </div>

      <div class="link">
        Content delivery accelerated by <a href="https://www.stackpath.com/">StackPath</a>.
      </div>
    </section>
  </div>
</footer>