{{ $docsPage := (hasPrefix .RelPermalink "/docs/") }}

{{ $docsBaseURLPath := (printf "%sdocs/" (urls.Parse .Site.BaseURL).Path) }}
{{ $docsPage := (hasPrefix .RelPermalink $docsBaseURLPath) }}
{{ $inverse := $docsPage }}
<header class="{{if $inverse}}dark{{end}}">
  <nav class="container">

    <a class="brand" href="{{.Site.BaseURL}}" title="The MacPorts Project">
      {{if $inverse}}
        <img src="{{.Site.BaseURL}}assets/logo-inverse.svg" height="22" alt="Mac Ports">
      {{else}}
        <img src="{{.Site.BaseURL}}assets/logo.svg" height="22" alt="Mac Ports">
      {{end}}
    </a>

    <label for="menu-toggle">Menu</label>
    <input type="checkbox" id="menu-toggle">
    <ul>
      {{ $current := . }}
      {{ $currentTopLevel := (printf "%s%s/" (urls.Parse $.Site.BaseURL).Path $current.Type) }}
      {{ range .Site.Menus.main }}
        <li class="{{ if .HasChildren }}has-sublist {{ end }}{{ if not $current.IsHome }}{{ if or (eq $current.RelPermalink .URL) (eq $currentTopLevel .URL) }}active{{ end }}{{ end }}">
          {{ if .HasChildren }}
            <a role="button" tabindex="0">{{ .Name }}</a>
            <div class="sublist">
              <ul class="container">
                {{ range .Children }}
                  <li class="{{ if not $current.IsHome }}{{ if and (eq $current.RelPermalink .URL) (eq $current.URL .URL) }}active{{ end }}{{ end }}">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                  </li>
                {{ end }}
              </ul>
            </div>
          {{ else }}
            <a href="{{ .URL }}">{{ .Name }}</a>
          {{ end  }}
        </li>
      {{ end }}
    </ul>
  </nav>
</header>